body {
   align-content: center;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    box-sizing: border-box;
}

.loginright {
    background-color: white;
    width: 50%;
    float: right;
    padding: 1px;
    text-align: center;
    margin-top: 20%;
}

/*.form {
    padding: 12px 20px;
    text-align: center;

}*/

input [type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.loginlogo {
    width: 50%;
    float: left;
    padding: 1px;
    text-align: center;
    margin-top: 10%;
}

.p {
    font-size: 5px;
}
